/* Asterisk selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Google fonts import */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

/* General Hex code for colors / used root for a global scope */
:root {
    /* Used for: Main brand identity and key elements like headings and links. */
    --primary-color: #1a2c56;

    /* Used for: Complementary color to the primary color,
    often for buttons and accents. */
    --secondary-color: #93794f;

    /* Used for: Default text color for paragraphs and body content. */
    --tertiary-color: #777;

    --custom-nav-footer-bg-color: #0f324e;
    --custom-header-white-color: #f6f6f6;
    --custom-btn-hover-color: #93794fbf;
    --custom-footer-p: #888888;
    --custom-main-about-bg: #ffffff;
    --custom-booknow-form-required-color: #ff0000;
}

/* General Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Lato", sans-serif;
    /* Generic project styles */
    color: var(--custom-nav-footer-bg-color);
}

h1,
h2,
h3 {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--custom-header-white-color);
}

p {
    line-height: 28px;
    /* indent the first line */
    text-indent: 1em;
}

.hide {
    display: none;
}

/* Header */
header {
    background-color: var(--custom-nav-footer-bg-color);
    color: var(--custom-header-white-color);
    padding: 1.5rem 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

#navigation {
    font-size: 18px;
    letter-spacing: 3px;
    list-style-type: none;
}

#navigation li {
    padding: 0.5rem 0;
}

.active {
    border-bottom: 1px solid var(--secondary-color);
}

nav {
    position: absolute;
    background-color: var(--custom-nav-footer-bg-color);
    width: 100%;
    left: 0;
    padding: 0 1rem;
    display: none;
    top: 100%;
    height: 250px;
}

/* Style the mobile navigation bar drop-down menu toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 32px;
}

.btn {
    background-color: var(--secondary-color);
    border-radius: 2.5rem;
    line-height: 1.25;
    padding: 1rem 1.5rem;
    white-space: nowrap;
    border: none;
    letter-spacing: 3px;
    color: var(--custom-header-white-color);
    font-size: 18px;
}

#navigation li:last-child {
    padding: 3.5rem 0;
}

/* Main Content */
main {
    background-color: var(--custom-header-white-color);
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;

    /* Fixing website header at the top makes the main content push up. Creating space at the top so the main content doesn't get covered */
    margin-top: 80px;

    /* Enable flex properties for child elements */
    display: flex;
    flex-direction: column;
}

/* Hero-banner Section */
#hero-banner {
    height: 600px;
    width: 100%;
    background: url("../images/burundi-6599372_640.webp") no-repeat center center/cover;
    position: relative;
}

#cover-text {
    background-color: var(--custom-btn-hover-color);
    font-size: 21px;
    position: absolute;
    bottom: 30px;
    width: 80%;
    min-height: 150px;
    padding: 1.5rem;
}

/* About Section */
#about,
#where-to-stay {
    padding: 1rem;
    background-color: var(--custom-main-about-bg);
}

#about h2 {
    color: var(--primary-color);
    text-align: center;
    margin: 1rem 0;
}

#burundi {
    display: flex;
    flex-direction: column;
}

#burundi-image {
    height: 90vw;
    width: 90vw;
    /*  Image sourced from https: //gisgeography.com/ for educational purposes. Usage allowed by the website's terms of use. */
    background: url("../images/burundi-map.jpg") no-repeat top center/cover;
    /* Make sure image will not go under 300px */
    max-height: 400px;
    background-size: contain;
}

#burundi-nature p,
#experience-burundi p {
    color: var(--tertiary-color);
    padding: 1rem;
}

/* Facts Section */
#facts {
    background-color: var(--custom-nav-footer-bg-color);
    color: var(--custom-header-white-color);
}

#facts-infos {
    text-align: center;
    padding: 2rem 2rem;
}

#facts-infos>div {
    border-bottom: 1px dashed var(--custom-header-white-color);
    padding: 2rem 0;
}

#facts-infos i {
    font-size: xxx-large;
}

#where-we-are div,
#getting-here div,
#weather div {
    padding-bottom: 1rem;
}

#where-we-are h3,
#getting-here h3,
#weather h3 {
    padding-bottom: 1rem;
}

#weather a {
    color: var(--custom-header-white-color);
}

/* Experience Burundi Section */
.webp #experience-burundi {
    padding: 1rem;
}

#experience-burundi h2 {
    color: var(--primary-color);
    text-align: center;
    margin: 3rem 0 1rem 0;
}

#activity-burundi-karera,
#activity-burundi-german,
#activity-burundi-tanganyika {
    height: 300px;
}

#activity-burundi-karera {
    background: url("../images/karera-main-falls-720x480.webp") no-repeat center center/cover;
}

#activity-burundi-german {
    background: url("../images/germans-gorge-burundi.webp") no-repeat center center/cover;
}

#activity-burundi-tanganyika {
    background: url("../images/tanganyika.webp") no-repeat center center/cover;
}

#activity-burundi-container h3 {
    color: var(--primary-color);
}

.activity-burundi {
    text-align: center;
    padding-bottom: 5rem;
}

.activity-burundi .box {
    padding: 1.5rem 0;
}

.activity-burundi span {
    color: var(--tertiary-color);
    padding: 1rem;
    line-height: 28px;
}

.activity-burundi a {
    text-decoration: none;
}

/* Footer */

footer {
    background-color: var(--custom-nav-footer-bg-color);
}

footer h2 {
    text-align: center;
    color: var(--custom-header-white-color);
    padding: 1rem 0;
    font-weight: 500;
}

footer p {
    text-align: center;
    color: var(--custom-footer-p);
    font-size: small;
    font-weight: lighter;
    padding: 1rem 0;
}

#social-network {
    text-align: center;
    padding: 1rem 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

.fa-brands {
    font-size: 160%;
    padding: 5%;
    color: var(--custom-header-white-color);
}

.fa-brands:hover {
    color: var(--secondary-color);
}

/* About Page */

article {
    padding: 2rem;
    text-align: center;
}

#about-nation h1,
#about-nation h2,
#about-nation h3 {
    color: var(--primary-color);
    padding-bottom: 1rem;
}

#about-nation p {
    padding-bottom: 2rem;
    color: var(--tertiary-color);
}

#google-map {
    overflow: auto;
}

/* Discover Page */

#photos img {
    width: 100%;
    /* If img broken, alt can be readable */
    line-height: 1rem;
}

#photos {
    /* Remove small space between images */
    line-height: 0;
}

/* Book now Page */

#hero-banner-book {
    height: 600px;
    width: 100%;
    background: url("../images/lake-Tanganyika-burundi.webp") no-repeat center center/cover;
    position: relative;
}

#booknow {
    background-color: var(--custom-header-white-color);
    padding: 2rem;
}

#booknow h2 {
    color: var(--primary-color);
    text-align: center;
}

#booknow-header h3 {
    padding: 2rem 0;
    color: var(--primary-color);
}

#booknow-header span,
#booknow-form span {
    color: var(--custom-booknow-form-required-color);
}

#booknow-header p {
    text-indent: 0;
    color: var(--tertiary-color);
    font-size: smaller;
}

#booknow-form {
    padding: 1rem 0;
    position: relative;
}

#booknow-form .btn {
    margin: 2rem 0;
    cursor: pointer;
}

.text-input {
    margin: 0 0 60px 0;
}

.text-input label {
    position: relative;
    top: 10px;
    left: 0;
    /* Add a smooth transition effect for label positioning */
    transition: .5s;

}

/* Make input type placeholder floating on focus */
.text-input input {
    position: absolute;
    background-color: var(--custom-header-white-color);
    width: 100%;
    font-size: inherit;
    height: 2rem;
    border: none;
    border-bottom: 1px solid var(--tertiary-color);
    /* Remove default outline on focus */
    outline: none;
}


/* On focus with cursor input text should move up */
.text-input input:focus~label,
.text-input input:valid~label {
    top: -20px;
    left: 0;
    color: var(--tertiary-color);
    font-size: 12px;

}

.radio-buttons {
    display: flex;
    flex-direction: column;
}

.radio-buttons div {
    padding: 0.5rem 3rem 0 0;
}

.radio {
    display: flex;
}

.text-message {
    padding-top: 3rem;
}

.text-message textarea {
    width: -webkit-fill-available;
}

.text-message textarea::placeholder {
    color: var(--tertiary-color);
    padding: 1rem;
}


/* Media query: large and landscape phones (576px and up) */
@media screen and (min-width: 576px) {

    /* Discover Page */
    #photos {
        column-count: 2;
        column-gap: 0;
    }
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Home page */
    /* Header */
    header {
        padding: 2rem;
    }

    nav {
        display: block;
        position: relative;
        width: fit-content;
        padding: 0;
        height: 40px;
        background: none;
        top: 0;
    }

    #navigation {
        display: flex;
        align-items: baseline;
    }

    #navigation li {
        padding-left: 2rem;
    }

    #navigation li:last-child {
        padding: 0 0 0 2rem;
    }

    .nav-toggle-label {
        display: none;
    }

    /* Main Content */
    main {
        margin-top: 100px;
    }

    /* Hero banner Section */
    #hero-banner {
        background: url(../images/burundi-6599372_640.webp) no-repeat center/cover;
    }

    #cover-text {
        width: 450px;
        right: 50px;
    }

    /* About Section */
    #about {
        padding: 2rem;
    }

    #burundi {
        flex-direction: row;
        align-items: center;
        padding-top: 2rem;
    }

    #burundi-image,
    #burundi-nature {
        flex: 1;
    }

    /* Facts Section */
    #facts-infos {
        display: flex;
    }

    #facts-infos>div {
        border-right: 1px dashed var(--custom-header-white-color);
        border-bottom: none;
        padding: 0 1rem;
    }

    /* Experience Burundi section */

    #activity-burundi-container {
        display: flex;
    }

    .activity-burundi {
        width: fit-content;
        padding: 1rem;
    }

    /* About Page */

    article {
        padding: 2rem 20%;
    }

    /* Discover Page */
    #photos {
        column-count: 3;
    }

    /* Book now Page */

    #hero-banner-book {
        background: url("../images/lake-Tanganyika-burundi.webp") no-repeat center/cover;
    }

    #booknow {

        padding: 2rem 30%;
    }

}

/* Media query: laptop and larger (992px and up) */
@media screen and (min-width: 992px) {

    /* Home page */
    /* Header */
    header h1:hover,
    #navigation li:hover {
        color: var(--secondary-color);
    }

    .btn:hover {
        background-color: var(--custom-btn-hover-color);
    }

    /* Main Content */

    /* Experience Burundi */
    #experience-burundi p {
        padding: 1rem 20%;
    }

    /* Footer */
    #social-network {
        justify-content: center;
    }

    #social-network li {
        padding: 0 1.5rem;
    }

    /* Book now Page form section */
    .radio-buttons {
        flex-direction: row;
    }

    .radio-buttons div {
        padding: 0;
        padding-left: 1rem;
    }
}

/* Media query: desktop and larger (1200px and up) */
@media screen and (min-width: 1200px) {

    /* Home page */
    /* About Section */
    #burundi-image {
        position: relative;
        left: 10%;
    }

    #burundi-nature {
        margin-right: 10%;
    }
}

/* Media query: larger (1400px and up) */
@media screen and (min-width: 1400px) {}