/* Asterisk selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


/* General Hex code for colors / used root for a global scope */
:root {
    /* Used for: Main brand identity and key elements like headings and links. */
    --primary-color: #1a2c56;

    /* Used for: Complementary color to the primary color,
    often for buttons and accents. */
    --secondary-color: #93794f;

    /* Used for: Default text color for paragraphs and body content. */
    --text-color: #0f324e;

    --custom-nav-footer-bg-color: #000;
    --custom-header-white-color: #f6f6f6;
    --custom-btn-hover-color: #93794fbf;
    --custom-footer-p: #888888;
    --custom-main-about-bg: #ffffff;
}

/* General Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    /* Generic project styles */
    color: var(--text-color);
}

h1,
h2,
h3 {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--custom-header-white-color);
}

/* Header */
header {
    background-color: var(--custom-nav-footer-bg-color);
    color: var(--custom-header-white-color);
    padding: 1.5rem 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    height: 80px;
}

header a {
    text-decoration: none;
    color: inherit;
}

#navigation {
    font-size: 18px;
    letter-spacing: 3px;
    list-style-type: none;
}

#navigation li {
    padding: 0.5rem 0;
}

.active {
    border-bottom: 1px solid var(--secondary-color);
}

nav {
    position: absolute;
    background-color: var(--custom-nav-footer-bg-color);
    width: 100%;
    left: 0;
    padding: 0 1rem;
    display: none;
    top: 100%;
    height: 250px;
}

/* Style the mobile navigation bar drop-down menu toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 32px;
}

.btn {
    background-color: var(--secondary-color);
    border-radius: 2.5rem;
    height: 3rem;
    line-height: 1.25;
    padding: 1rem 1.5rem;
    white-space: nowrap;
}

#navigation li:last-child {
    padding: 3.5rem 0;
}

/* Main Content */
main {
    background-color: lightblue;
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;

    /* Fixing website header at the top makes the main content push up. Creating space at the top so the main content doesn't get covered */
    margin-top: 80px;
}

/* Hero-banner Section */
#hero-banner {
    height: 600px;
    width: 100%;
    background: url("../images/drummers-image.webp") no-repeat center center/cover;
}

#cover-text {
    background-color: var(--custom-btn-hover-color);
    font-size: 21px;
    position: absolute;
    bottom: 30px;
    width: 80%;
    min-height: 150px;
    padding: 1.5rem;
}


/* About Section */
#about {
    padding: 1rem;
    background-color: var(--custom-main-about-bg);
}

#about h2 {
    color: var(--primary-color);
    text-align: center;
    margin: 1rem 0;
}

#burundi {
    display: flex;
    flex-direction: column;
}

#burundi-image {
    height: 90vw;
    width: 90vw;
    /*  Image sourced from https: //gisgeography.com/ for educational purposes. Usage allowed by the website's terms of use. */
    background: url("../images/burundi-map.jpg") no-repeat top center/cover;
    /* Make sure image will not go under 300px */
    max-height: 400px;
    max-width: 400px;
    background-size: contain;
}

#burundi-nature p {
    line-height: 28px;
    color: var(--text-color);
    padding: 1rem;
    /* Optionally, indent the first line */
    text-indent: 1em;
}

/* Footer */

footer {
    background-color: var(--custom-nav-footer-bg-color);
}

footer h2 {
    text-align: center;
    color: var(--custom-header-white-color);
    padding: 1rem 0;
    font-weight: 500;
}

footer p {
    text-align: center;
    color: var(--custom-footer-p);
    font-size: small;
    font-weight: lighter;
    padding: 1rem 0;
}

#social-network {
    text-align: center;
    padding: 1rem 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;

}

.fa-brands {
    font-size: 160%;
    padding: 5%;
    color: var(--custom-header-white-color);
}

.fa-brands:hover {
    color: var(--secondary-color);
}


/* Media query: large and landscape phones (576px and up) */
@media screen and (min-width: 576px) {}


/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    header {
        padding: 2rem;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, .8) 80%, #000 90%);
        height: 0;
    }

    nav {
        display: block;
        position: relative;
        width: fit-content;
        padding: 0;
        height: 40px;
        background: none;
    }

    #navigation {
        display: flex;
        align-items: baseline;
    }

    #navigation li {
        padding-left: 2rem;
    }

    #navigation li:last-child {
        padding: 0 0 0 2rem;
    }

    .nav-toggle-label {
        display: none;
    }

    /* Main Content */
    main {
        margin-top: 0;
    }

    /* Hero banner Section */
    #hero-banner {
        height: 100vh;
        background: url(../images/drummers-image.webp) no-repeat top center/cover
    }

    #cover-text {
        width: 450px;
        right: 50px;
    }

    /* About Section */
    #about {
        padding: 2rem;
    }

    #burundi {
        flex-direction: row;
        align-items: center;
    }

    #burundi-image,
    #burundi-nature {
        flex: 1;
    }

}


/* Media query: laptop and larger (992px and up) */
@media screen and (min-width: 992px) {

    /* Header */
    header h1:hover,
    #navigation li:hover {
        color: var(--secondary-color);
    }

    .btn:hover {
        color: var(--custom-header-white-color);
        background-color: var(--custom-btn-hover-color);
    }

    /* Main Content */

    /* Footer */
    #social-network {
        justify-content: center;

    }

    #social-network li {
        padding: 0 1.5rem;
    }

}

/* Media query: desktop and larger (1200px and up) */
@media screen and (min-width: 1200px) {}

/* Media query: larger (1400px and up) */
@media screen and (min-width: 1400px) {}