/* Asterisk selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


/* General Hex code for color / used root for a global scopr */
:root {
    /* Used for: Main brand identity and key elements like headings and links. */
    --primary-color: #1a2c56;

    /* Used for: Complementary color to the primary color,
    often for buttons and accents. */
    --secondary-color: #93794f;

    /* Used for: Default text color for paragraphs and body content. */
    --text-color: #0f324e;

    --custom-nav-bg-color: #000;
    --custom-header-white-color: #f6f6f6;
}


/* General Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    /* Generic project styles */
    color: var(--text-color);
}

/* Header */
header {
    background-color: var(--custom-nav-bg-color);
    color: var(--custom-header-white-color);
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
}

h1 {
    font-weight: 400;
}

/* Main Content */
main {
    background-color: lightblue;
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
}

/* Footer */
footer {
    background-color: orange;
}